<%= form_for [:admin, @hang_hoa], html: { multipart: true } do |f| %>

	<p>Mã hàng: <%= f.text_field :ma_hang %></p>

	<p>Tên hàng: <%= f.text_field :ten_hang %></p>

	<p>Số lượng: <%= f.text_field :so_luong %></p>

	<p>ĐVT: <%= f.text_field :dvt %></p>

	<p>Xuất xứ: <%= f.text_field :xuat_xu %></p>

	<p>Quy cách: <%= f.text_field :quy_cach %></p>

	<p>Ghi chú: <%= f.text_field :ghi_chu %></p>

	<%=  f.fields_for :gias do |gia| %>
		<p>Gía bán: <%= gia.text_field :gia_ban %></p>
	<% end %>
	
	<p>Danh mục: <%= f.select(:danh_muc_id, options_for_select(@danh_mucs), prompt: 'Chọn danh mục') %> </p>

	<p>Hình ảnh: <%= f.file_field :image %></p>

	<p><%= f.submit %></p>
<% end %>