<h1>Kho hàng</h1>

<%= link_to 'Thêm hàng', new_admin_hang_hoa_path %>

<table>
	<thead>
		<tr>
			<th>Mã hàng</th>
			<th>Tên hàng</th>
			<th>Số lượng</th>
			<th>ĐVT</th>
			<th>Xuất xứ</th>
			<th>Quy cách</th>
			<th>Ghi chú</th>
			<th>Gía bán</th>
			<th>Danh mục</th>
		</tr>
	</thead>
	<tbody>
		<% @hang_hoas.each do |hang_hoa| %>
			<tr>
				<td><%= hang_hoa.ma_hang %></td>
				<td><%= hang_hoa.ten_hang %></td>
				<td><%= hang_hoa.so_luong %></td>
				<td><%= hang_hoa.dvt %></td>
				<td><%= hang_hoa.xuat_xu %></td>
				<td><%= hang_hoa.quy_cach %></td>
				<td><%= hang_hoa.ghi_chu %></td>
				<% hang_hoa.gias.each do |gia| %>
					<td><%= gia.gia_ban %></td>
				<% end %>
				<td><%= link_to DanhMuc.find(hang_hoa.danh_muc_id).ten_danh_muc, admin_danh_muc_path(hang_hoa.danh_muc_id) %></td>
				<td><%= link_to 'Xem', admin_hang_hoa_path(hang_hoa) %></td>
				<td><%= link_to 'Sửa', edit_admin_hang_hoa_path(hang_hoa) %></td>
				<td><%= link_to 'Xóa', admin_hang_hoa_path(hang_hoa), method: :delete, data: {confirm: 'Bạn chắc chắn chưa?'} %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= yield %>


