<div class="container-fluid">
		<div class="intro-section row">
			<div class="intro-text col-md-5 col-sm-12 col-md-offset-1 col-sm-offset-1">
				<p id="hello">Xin chào!</p>
				<h1>Chúng tôi cung cấp vật tư <br> ngành lạnh công nghiệp</h1>
				<a href="/store" type="button" class="btn btn-default btn-custom">CỬA HÀNG <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
			</div>
			<div class="img-thumbnail col-md-6 col-sm-12">
				<%= image_tag 'Banner.png', class: "banner-pic" %>
			</div>		
		</div>

		<div class="product-category-section row col-md-offset-1">
			<% @danh_mucs.each do |danh_muc| %>
			<div class="product-cat col-md-2">
				<%= link_to hang_hoas_path(danh_muc_id: danh_muc.id) do %>
					<div class="product-cat-img">
						<%= image_tag danh_muc.avatar.url(:medium) %>
					</div>
					<div class="cat-title"><%= danh_muc.ten_danh_muc %></div>
				<% end %>
			</div>
			<% end %>
			<div class="product-cat col-md-2">
				<a href="/store">
					<div class="go-to-store">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</div>
					<div class="cat-title">Các loại khác</div>
				</a>
			</div>
		</div>

		<div class="standards-section row">
			<h2 class="col-md-11 col-md-offset-1">Và luôn đảm bảo các tiêu chí</h1>
			<div class="standards-wrapper col-md-12">
				<div class="standard col-md-2 col-md-offset-1">
					<%= image_tag 'standard/uy-tin.png', alt: "" %>
					<div class="standard-text">Uy tín</div>
				</div>
				<div class="standard col-md-2">
					<%= image_tag 'standard/chat-luong.png', alt: "" %>
					<div class="standard-text">Chất lượng</div>
				</div>
				<div class="standard col-md-2">
					<%= image_tag 'standard/nhanh-chong.png', alt: "" %>
					<div class="standard-text">Nhanh chóng</div>
				</div>
				<div class="standard col-md-2">
					<%= image_tag 'standard/gia-tot.png', alt: "" %>
					<div class="standard-text" id="piggy">Giá tốt</div>
				</div>
			</div>
		</div>

		<div class="customers-section row">
			<h2 class="col-md-11 col-md-offset-1">Được tin tưởng bởi</h2>
			<div class="customers-wrapper col-md-12">
				<div class="customer col-md-2 col-md-offset-1">
					<%= image_tag 'customer/InterContinental.png', alt: "" %>
				</div>
				<div class="customer col-md-2 ">
					<%= image_tag 'customer/Vinpearl.png', alt: "" %>
				</div>
				<div class="customer col-md-2 ">
					<%= image_tag 'customer/DiamondBay.png', alt: "" %>
				</div>
				<div class="customer col-md-1 ">
					<%= image_tag 'customer/F17.png', alt: "" %>
				</div>
				<div class="customer col-md-1 ">
					<%= image_tag 'customer/vikoda.png', alt: "" %>
				</div>
				<div class="customer col-md-1 ">
					<%= image_tag 'customer/Maitin.png', alt: "" %>
				</div>
				<div class="customer col-md-1 ">
					<%= image_tag 'customer/Gallant.png', alt: "" %>
				</div>
			</div>
		</div>