<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hoa_don_nhap.ngay_nhap %>
</p>

<h4>Players</h4>
<% @hoa_don_nhap.cthd_nhaps.each do |cthd| %>
  <div><%= %></div>
<% end %>

<hr />

<%= link_to 'Edit', edit_admin_hoa_don_nhap_path(@hoa_don_nhap) %> |
<%= link_to 'Back', admin_hoa_don_nhaps_path %>