<!DOCTYPE html>
<html>
<head>
  <title>Bl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
	<div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= link_to 'Log out', logout_path %> <br>

<%= link_to 'Quản trị viên', admin_moderators_path %>
<%= link_to 'Kho hàng', admin_hang_hoas_path %>
<%= link_to 'Danh mục', new_admin_danh_muc_path %>

<%= yield %>

</body>
</html>
