<!DOCTYPE html>
<html>
<head>
  <title>Bl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Muli:300,400,700,900&amp;subset=vietnamese" rel="stylesheet' %>
  <%= csrf_meta_tags %>
</head>
<body class="login-body">

<div class="login-wrapper col-md-3">
	<%= yield %>
</div>
</body>
</html>
